.table-actions{
  width: 150px;
}

#SideLog{
  padding-top: 8px;
}

#SideLogBody{
  padding-left: 10px;
}

/* Others */

.color-purple{
  color:#7774b5 !important;
}

/* Button */

button{
  margin-left: 5px;
}

.p-custom{
  background-color: #7774b5 !important;
  border-color: #7774b5 !important;
}

.p-custom:hover {
  color: #fff !important;
  background-color: #43425d !important;
  border-color: #43425d !important;
}

/* Body */

/* Nav Bar*/

.navbar-custom{
  background-color: #59578e;
}

.navbar-item-custom{
  color: white !important;
}

/* Logout Icon */

#logoutIcon{
  position: relative;
  top: 6px;
  right: auto;
}

/* Login */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(120deg,#43425d,#59578e);
    -webkit-font-smoothing: antialiased !important;
}
html, input, button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
.login-form{
    width: 380px;
    background: #f1f1f1;
    min-height: 50%;
    padding: 20px 25px 50px;
    border-radius: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
}
.login-paragraph{
   text-align: center;
   color: #43425D;
   padding-top: 10px;
}
.forgot-paragraph{
    text-align: right;
}
.forgot-paragraph a {
    color: #43425D;
}
.remember label {
    color: #43425D;
}
.login-title h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #59578e;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.container{
    border-bottom: 1px solid #59578e; 
    position: relative;
    margin: 5px 0;
    color: #43425D;
}
.container input{
    font-size: 15px;
    color: #43425D;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}
.button-login{
    display: block;
    width: 100%;
    right: 50%;
    margin: 0 auto;
    border: none;
    background-image: linear-gradient(120deg, #59578e, #59578e);
    background-size: 200%;
    color: #ffff;
    outline: none;
    cursor: pointer;
}
.button-login:hover{
    color: #2699FB;
}
.logo-image{
   text-align: center; 
}
